.menu {
  &__item {
    float: left;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 160px;
    color: #202242;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      color: $yellow;
      transition: all .5s ease;
    }
    &--active {
      color: $yellow;
    }
  }
}


